@model IEnumerable<DibaEShop.Models.ApplicationUser>;
@{
    ViewData["Title"] = "User Managment";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>User List</h2>
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-bordered table-striped align-content-center  " style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/User.js" asp-append-version="true"></script>
    <partial name="_Notification" />
}